<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Screen</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
        </style>
    <link rel="icon" type="image/x-icon" href="/static/complogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>
<body style="margin-left: 0%; margin-right:0%; background-image: url(/static/mainbkg.png);">
    <div style="opacity: 100%;">
        <header>
            <nav style="position:sticky;">
              <ul style="list-style: none; background-color: rgb(204, 141, 47); text-align: center; width: 97.7%; margin-left:-8px; margin-top: -10px;align-content: center;">
                <img src="{{url_for('static', filename='logo.png')}}" style="width: 7%; height:7%;">
                <li style="display: inline-block; font-size: 50px; font-family: 'Pixelify Sans', sans-serif; padding-inline: 10%;"><a href="/" style="text-decoration: none; color: white;">Home</a></li>
                <li style="display: inline-block; font-size: 50px; font-family: 'Pixelify Sans', sans-serif; padding-inline: 10%;"><a class="active" href="#" style="text-decoration: none; color: white;">Team</a></li>
                <li style="display: inline-block; font-size: 50px; font-family: 'Pixelify Sans', sans-serif; padding-inline: 10%;"><a href="game" style="text-decoration: none; color: white;">Play</a></li>
              </ul>
            </nav>
        </header>
        <div style="text-align: center;">
            <img src="{{url_for('static', filename='logo.png')}}" style="width: 50%; height: 50%; text-align: center;">
        </div>
    </div>
    <div style="margin-top: -.55%; margin-bottom: -8%; background-color: #EBF5FB;">
        <div style="display: -ms-inline-grid; grid-template-columns: auto auto; align-content: center; padding: 10px; width: 50%; margin-left:32%;">
            <div class="row1">
                <img src="{{url_for('static', filename='blank.jpg')}}" alt="A blank image for now">
                <img src="{{url_for('static', filename='blank.jpg')}}" alt="A blank image for now">
            </div>
            <div class="row2">
                <img src="{{url_for('static', filename='blank.jpg')}}" alt="A blank image for now">
                <img src="{{url_for('static', filename='blank.jpg')}}" alt="A blank image for now">
            </div>
    
        </div>
        <hr style="height:2px;border-width:0;color: navy; background-color: navy; margin-top: 8%; margin-bottom: -1%;">
        <div style="display: inline">
            <img src="{{url_for('static', filename='textlogo.png')}}" alt="A blank image for now" style="align-content: center; padding: 10px;">
            <img src="{{url_for('static', filename='lineup.png')}}" alt="A blank image for now" style="justify-content: right; margin-left: 33%;">
        </div>
    </div>
</body>
</html>